<!DOCTYPE html>
<html>
<head>
	<title>DOCUMENT</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

</head>
<body>
	<header>
		<div class="header">
		<div class="logo">
			<img src="img/logo.png" alt="image">
			</div>
				<div class="icon">
					<ul>
						
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href=>
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-rss"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-pinterest"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google-plus"></i>
							</a>
							
						</li>
					</ul>
				</div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="">HOME</a></li>
				<li><a href="">ABOUT</a></li>
				<li><a href="">WORK</a></li>
				<li><a href="">CONTENT</a></li>	
			</ul>
		</div>
		
		
	</header>

	<section>
		<div class="banner">
			<img src="img/content.png" alt="banner" style="width: 100%;
	height: 30%;
">
		</div>
		<div class="paragraph">
			<p>LOREM IPSUM DOLAR SIT AMET, CONSECTETUR ADIPISCING ELIT. PELLENTESOUE EU ERATIUY
			LACUS VEL CONGUE MAURIS FUSCE VELITARIA JUSTO FAUCIBUS EU.</p>

					<button class="button">BROWSE PORTFOLIO</button>
		</div>
		<div class="scndpar">
			<h3>ARE YOU READY TO BE AWAY?</h3>
			<button class="click" >CLICK HERE TO FIND OUT</button>
		</div>

	</section>
	<footer>
		<div class="footer"><P>COPY RIGHT2017 DISPLAY ALL RIGHTS RESERVED</P></div>
		<div class="footermenu">
				<ul>
					<li><a href="">HOME&nbsp\&nbsp</a></li>
					<li><a href="">ABOUT&nbsp\&nbsp</a></li>
					<li><a href="">WORK&nbsp\&nbsp</a></li>
					<li><a href="">CONTENT&nbsp\&nbsp</a></li>
				</ul>

		</div>



	</footer>




</body>
</html>